<nb-card>
  <nb-card-header>文章~~</nb-card-header>
  <nb-card-body>
    <ngx-notice></ngx-notice>
    <div class="form-group">
      <input type="text" [(ngModel)]="title" placeholder="请输入文章标题~~" class="form-control form-control-success">
      <input type="text" [(ngModel)]="introduceInfo" placeholder="请输入文章导语~~" class="form-control form-control-success">
      <button id="uploadImg" *ngIf="isUpload">上传封面</button>
      <span id="imgHref"></span>
      <img *ngIf="!isUpload" src="{{imageAddress}}"/>
    </div>
    <div class="row show-grid">
      <div class="col-md-12">
        <ngx-editor></ngx-editor>
      </div>
    </div>
    <div class="row show-grid">
      <div class="col-6 col-sm-4">
      </div>
      <div class="col-6 col-sm-4">
        <nb-checkbox [(ngModel)]="isPublic" status="success" class="col-sm-4">公开</nb-checkbox>
        <button class="btn btn-hero-primary btn-demo" (click)="saveDiary()">保存心情~~</button>
      </div>
      <div class="col-6 col-sm-4">
      </div>
    </div>
  </nb-card-body>
</nb-card>
